@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;

}

:root{
    --color-dark: #2C3131;
    --color-light: #ffffff;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: 200px;
        margin-right: 300px;
        
}

.board {
    text-align: center;
    
}



.info-profile {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    padding: 10px;
    height: 100%;
    margin-right: 30px;
    line-height: 1;
}

.name-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.leaderboard {
    margin-top: 1em;
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    float: left;
    width:  120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}

@media screen and (max-width: 960px) {
    
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 200px;
    margin-right: 300px;
}

.board {
text-align: center;

}

.board .leaderboard{
margin-bottom: 1em;
}


#profile .flex img{
    float: left;
    width:  100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

}
